.toast {
    
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    bottom: 0;
    

    &__text {
        background: white;
        text-align: center;
        font-size: 1.3em;
        @include typo--montserrat-headline-2;
        padding: 2rem 3rem;
        margin-bottom: 10vh;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
}