@mixin input--radio {
    width: 30px;
        height: 30px;
        position: relative;
        display: inline-block;

        &:before {
            border: 2px solid $color-border;
            border-radius: 50%;
            background: white;
            transition: background-color .3s ease, transform .3s ease, border-color .3s ease;
            position: absolute;
            top: -2px;
            left: -2px;
            content: '';
            height: 100%;
            width: 100%;
            transform: translateZ(0);
            backface-visibility: hidden;
        }

        &:after {
            background: url('~@/assets/icons/cd-icon-check.svg') no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 100%;
            width: 100%;
            transform: translateZ(0);
            backface-visibility: hidden;
        }
    
}