$color--dark: #383838;
$color--light: #eeeeee;
$color--success: #a4fda2;
$color--error: #ff8484;
$color--success-border: #66d263;

$color-text-primary: #2c3e50;
$color-text-secondary: #ececec;
$color-bg-primary: #EBECEF;
$color-bg-secondary: #141418;
$color-bg-app: #BFD8D2;

$gradient-bg-logo: linear-gradient(to right, #c94b4b, #4b134f);
$gradient-bg-app: linear-gradient(to top right, #e1eec3, #f05053);
$gradient-bg-logo2: linear-gradient(to right, $color-text-primary, $color-text-primary);

$color-border-active: rgb(158, 137, 116);
$color-border: rgb(196, 182, 168);

$transition--speed: 400ms;