.gallery-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;

    @include viewport_mq5 {
        margin: 2rem 15rem;
    }

}